# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.wClickTheCookie.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Documents\GitHub\wClickTheCookie\.idea\.idea.wClickTheCookie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
